# Copy this file to .env and fill in real values
# NEVER commit .env to GitHub

DATABASE_URL=postgresql://admin:YourStrongPassword123@your-rds-endpoint.ap-south-1.rds.amazonaws.com:5432/psrlaw
SECRET_KEY=<generate-a-new-64-hex-random-string-min-32-chars>
AWS_BUCKET_NAME=psr-lawfirm-documents
AWS_REGION=ap-south-1
ENVIRONMENT=production
